# for git-changelog (https://github.com/dannyben/git-changelog)
export CHANGELOG_COMMIT_URL=https://github.com/DannyBen/pretty_trace/commit/%h
export CHANGELOG_COMPARE_URL=https://github.com/dannyben/pretty_trace/compare/%s

# include the debug gem
export DEBUGGER=1
